src/main/resources/schema/empleado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://parameta.com/empleado"
           xmlns:tns="http://parameta.com/empleado"
           elementFormDefault="qualified">

    <!-- Definición del Request -->
    <xs:element name="EmpleadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombres" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="tipoDocumento" type="xs:string"/>
                <xs:element name="numeroDocumento" type="xs:string"/>
                <xs:element name="fechaNacimiento" type="xs:string"/>
                <xs:element name="fechaVinculacion" type="xs:string"/>
                <xs:element name="cargo" type="xs:string"/>
                <xs:element name="sueldo" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definición del Response -->
    <xs:element name="EmpleadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="exito" type="xs:boolean" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>